n8n workflow/Danfoss - ALADDIN full.json
{
  "name": "Danfoss - ALADDIN full",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "text": "=From the provided motor nameplate image, extract the following details: Model number, Rated voltage (V), Rated current (A), Power (kW), Frequency (Hz), Speed (RPM), Connection Type. \nIf multiple sets of voltage and current values are present (e.g., for different phases or configurations), return each as a separate JSON object under a list. If any value is not visible or illegible, set its value explicitly to null. For each voltage/current configuration, also extract the connection type as \"Delta\" or \"Star\", based on notation in the voltage field (D = Delta, Y = Star). Remove the D or Y symbol from the voltage value and ensure the voltage is returned as numeric-only. \n\nReturn only a single JSON object in the following structure: \n{\"model_number\": \"string or null\", \"ratings\": [{\"Voltage\": \"value or null\", \"Current\": \"value or null\", \"Power\": \"value or null\", \"Frequency\": \"value or null\", \"Speed\": \"value or null\", \"Connection type\": \"Delta\" or \"Star\" or null}]}\n",
        "inputType": "binary",
        "binaryPropertyName": "motorNameplate",
        "options": {
          "maxOutputTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        16,
        720
      ],
      "id": "2f4b9295-6931-4a1d-8098-2a40e3e4cd0a",
      "name": "Analyze Motor Nameplate",
      "credentials": {
        "googlePalmApi": {
          "id": "GsM4W4iLn5kaXmNZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node: returns the HTML UI as binary\n// NOTE: Using string concatenation instead of template literals for n8n vm2 compatibility\n\nvar htmlPart1 = '<!DOCTYPE html>\\n' +\n'<html lang=\"en\">\\n' +\n'<head>\\n' +\n'  <meta charset=\"utf-8\" />\\n' +\n'  <title>Danfoss ALADIN</title>\\n' +\n'  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\\n' +\n'  <style>\\n' +\n'    :root {\\n' +\n'      --bg: #0f172a;\\n' +\n'      --fg: #e5e7eb;\\n' +\n'      --muted: #94a3b8;\\n' +\n'      --accent: #ef4444;\\n' +\n'      --accent-2: #22c55e;\\n' +\n'      --card: #111827;\\n' +\n'      --border: #1f2937;\\n' +\n'      --input: #0b1220;\\n' +\n'      --focus: #3b82f6;\\n' +\n'    }\\n' +\n'    * { box-sizing: border-box; }\\n' +\n'    body {\\n' +\n'      margin: 0; padding: 2rem;\\n' +\n'      background: linear-gradient(180deg, var(--bg), #0b1020 60%, #050914);\\n' +\n'      color: var(--fg);\\n' +\n'      font-family: system-ui, -apple-system, Segoe UI, Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", \"Apple Color Emoji\", \"Segoe UI Emoji\";\\n' +\n'    }\\n' +\n'    .wrap { max-width: 980px; margin: 0 auto; }\\n' +\n'    header { display: flex; align-items: center; justify-content: space-between; margin-bottom: 1.25rem; }\\n' +\n'    .brand { display: flex; align-items: center; gap: .75rem; font-weight: 700; letter-spacing: .5px; }\\n' +\n'    .brand .logo { width: 36px; height: 36px; border-radius: 10px; background: var(--accent); display: grid; place-items: center; color: white; font-weight: 900; }\\n' +\n'    .subtitle { color: var(--muted); font-size: .95rem; }\\n' +\n'    .card { background: rgba(17,24,39,.7); border: 1px solid var(--border); border-radius: 16px; padding: 1.25rem; backdrop-filter: blur(6px); box-shadow: 0 6px 24px rgba(0,0,0,.35); }\\n' +\n'    form { display: grid; gap: 1rem; grid-template-columns: 1fr 1fr; }\\n' +\n'    .full { grid-column: 1 / -1; }\\n' +\n'    label { display: block; font-size: .9rem; color: var(--muted); margin-bottom: .35rem; }\\n' +\n'    input[type=\"text\"], input[type=\"tel\"] { width: 100%; background: var(--input); color: var(--fg); border: 1px solid var(--border); border-radius: .75rem; padding: .8rem 1rem; outline: none; transition: border .15s, box-shadow .15s; }\\n' +\n'    input[type=\"file\"] { width: 100%; background: var(--input); color: var(--muted); border: 1px dashed var(--border); border-radius: .75rem; padding: .9rem 1rem; cursor: pointer; }\\n' +\n'    input:focus { border-color: var(--focus); box-shadow: 0 0 0 3px rgba(59,130,246,.25); }\\n' +\n'    .hint { font-size: .8rem; color: var(--muted); margin-top: .25rem; }\\n' +\n'    .row { display: grid; gap: 1rem; grid-template-columns: 1fr 1fr; }\\n' +\n'    .actions { display: flex; gap: .75rem; align-items: center; flex-wrap: wrap; }\\n' +\n'    button { appearance: none; border: none; border-radius: .75rem; padding: .85rem 1.1rem; font-weight: 600; cursor: pointer; transition: transform .04s ease, box-shadow .15s ease, opacity .15s; }\\n' +\n'    .btn-primary { background: linear-gradient(180deg, #ef4444, #dc2626); color: white; box-shadow: 0 10px 24px rgba(239,68,68,.35); }\\n' +\n'    .btn-primary:active { transform: translateY(1px); }\\n' +\n'    .btn-ghost { background: transparent; color: var(--muted); border: 1px solid var(--border); }\\n' +\n'    .status { font-size: .9rem; color: var(--muted); }\\n' +\n'    .preview { display: grid; gap: .75rem; grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); }\\n' +\n'    .thumb { border: 1px solid var(--border); border-radius: .75rem; padding: .5rem; background: #0a0f1d; }\\n' +\n'    .thumb img { width: 100%; height: 140px; object-fit: cover; border-radius: .5rem; }\\n' +\n'    .resp { margin-top: 1rem; background: #0a0f1d; border: 1px solid var(--border); border-radius: 12px; padding: 1rem; overflow: auto; max-height: 40vh; font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\", monospace; font-size: .9rem; color: #d1d5db; }\\n' +\n'    .ok { color: var(--accent-2); }\\n' +\n'    .err { color: var(--accent); }\\n' +\n'    input.error { border-color: var(--accent) !important; box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2) !important; }\\n' +\n'    @media (max-width: 720px) { form, .row { grid-template-columns: 1fr; } }\\n' +\n'  </style>\\n' +\n'</head>\\n' +\n'<body>\\n' +\n'  <div class=\"wrap\">\\n' +\n'    <header>\\n' +\n'      <div class=\"brand\">\\n' +\n'        <div class=\"logo\" aria-hidden=\"true\">A</div>\\n' +\n'        <div>\\n' +\n'          <div style=\"font-size:1.15rem;\">Danfoss ALADIN</div>\\n' +\n'          <div class=\"subtitle\">Submit motor/VFD details & nameplate images</div>\\n' +\n'        </div>\\n' +\n'      </div>\\n' +\n'    </header>\\n' +\n'\\n' +\n'    <section class=\"card\">\\n' +\n'      <form id=\"aladin-form\" novalidate>\\n' +\n'        <div>\\n' +\n'          <label for=\"customerName\">Customer Name *</label>\\n' +\n'          <input id=\"customerName\" name=\"customerName\" type=\"text\" placeholder=\"e.g., Acme Industries\" required />\\n' +\n'        </div>\\n' +\n'        <div>\\n' +\n'          <label for=\"locationOfInstallation\">Location of Installation *</label>\\n' +\n'          <input id=\"locationOfInstallation\" name=\"locationOfInstallation\" type=\"text\" placeholder=\"e.g., Chennai, Tamil Nadu\" required />\\n' +\n'        </div>\\n' +\n'        <div>\\n' +\n'          <label for=\"contactPerson\">Contact Person *</label>\\n' +\n'          <input id=\"contactPerson\" name=\"contactPerson\" type=\"text\" placeholder=\"e.g., John Doe\" required />\\n' +\n'        </div>\\n' +\n'        <div>\\n' +\n'          <label for=\"mobileNumber\">Mobile Number *</label>\\n' +\n'          <input id=\"mobileNumber\" name=\"mobileNumber\" type=\"tel\" placeholder=\"e.g., +91-98765-43210\" required />\\n' +\n'        </div>\\n' +\n'        <div>\\n' +\n'          <label for=\"motorType\">Motor Type *</label>\\n' +\n'          <input id=\"motorType\" name=\"motorType\" type=\"text\" placeholder=\"e.g., 3-Phase Induction\" required />\\n' +\n'        </div>\\n' +\n'        <div>\\n' +\n'          <label for=\"vfdType\">VFD Type *</label>\\n' +\n'          <input id=\"vfdType\" name=\"vfdType\" type=\"text\" placeholder=\"e.g., Danfoss FC51\" required />\\n' +\n'        </div>\\n' +\n'        <div class=\"full\">\\n' +\n'          <label for=\"applicationType\">Application Type *</label>\\n' +\n'          <input id=\"applicationType\" name=\"applicationType\" type=\"text\" placeholder=\"e.g., Pump, Fan, Conveyor\" required />\\n' +\n'        </div>\\n' +\n'\\n' +\n'        <div class=\"full\">\\n' +\n'          <label for=\"vfdNameplate\">VFD Nameplate (image) *</label>\\n' +\n'          <input id=\"vfdNameplate\" name=\"vfdNameplate\" type=\"file\" accept=\"image/*\" required />\\n' +\n'          <div class=\"hint\">PNG/JPEG recommended • Max ~10 MB each (browser dependent)</div>\\n' +\n'        </div>\\n' +\n'        <div class=\"full\">\\n' +\n'          <label for=\"motorNameplate\">Motor Nameplate (image) *</label>\\n' +\n'          <input id=\"motorNameplate\" name=\"motorNameplate\" type=\"file\" accept=\"image/*\" required />\\n' +\n'        </div>\\n' +\n'\\n' +\n'        <div class=\"full preview\" id=\"preview\"></div>\\n' +\n'\\n' +\n'        <div class=\"full actions\">\\n' +\n'          <button id=\"submitBtn\" class=\"btn-primary\" type=\"submit\">Submit</button>\\n' +\n'          <button id=\"resetBtn\" class=\"btn-ghost\" type=\"button\">Reset</button>\\n' +\n'          <span id=\"status\" class=\"status\" aria-live=\"polite\"></span>\\n' +\n'        </div>\\n' +\n'      </form>\\n' +\n'    </section>\\n' +\n'\\n' +\n'    <section class=\"card\" style=\"margin-top:1rem;\">\\n' +\n'      <div style=\"margin-bottom:.5rem; color:var(--muted)\">Response</div>\\n' +\n'      <pre id=\"responseBox\" class=\"resp\" aria-live=\"polite\">Awaiting submission…</pre>\\n' +\n'    </section>\\n' +\n'  </div>\\n' +\n'\\n' +\n'  <script>\\n' +\n'    var CONFIG = {\\n' +\n'      WEBHOOK_URL: \"http://localhost:5678/webhook-test/test_submit\",\\n' +\n'      MAX_FILE_BYTES: 10 * 1024 * 1024,\\n' +\n'      ACCEPTED_IMAGE_TYPES: [\"image/jpeg\", \"image/png\", \"image/jpg\", \"image/webp\"],\\n' +\n'      REQUIRED_TEXT_FIELDS: [\\n' +\n'        { id: \"customerName\", label: \"Customer Name\" },\\n' +\n'        { id: \"locationOfInstallation\", label: \"Location of Installation\" },\\n' +\n'        { id: \"contactPerson\", label: \"Contact Person\" },\\n' +\n'        { id: \"mobileNumber\", label: \"Mobile Number\" },\\n' +\n'        { id: \"motorType\", label: \"Motor Type\" },\\n' +\n'        { id: \"vfdType\", label: \"VFD Type\" },\\n' +\n'        { id: \"applicationType\", label: \"Application Type\" }\\n' +\n'      ],\\n' +\n'      REQUIRED_FILE_FIELDS: [\\n' +\n'        { id: \"vfdNameplate\", label: \"VFD Nameplate\" },\\n' +\n'        { id: \"motorNameplate\", label: \"Motor Nameplate\" }\\n' +\n'      ]\\n' +\n'    };\\n' +\n'\\n' +\n'    var DOM = {\\n' +\n'      form: document.getElementById(\"aladin-form\"),\\n' +\n'      statusEl: document.getElementById(\"status\"),\\n' +\n'      respEl: document.getElementById(\"responseBox\"),\\n' +\n'      previewEl: document.getElementById(\"preview\"),\\n' +\n'      submitBtn: document.getElementById(\"submitBtn\"),\\n' +\n'      resetBtn: document.getElementById(\"resetBtn\")\\n' +\n'    };\\n' +\n'\\n' +\n'    var Utils = {\\n' +\n'      setStatus: function(msg, type) {\\n' +\n'        if (!type) type = \"info\";\\n' +\n'        DOM.statusEl.textContent = msg || \"\";\\n' +\n'        DOM.statusEl.classList.remove(\"ok\", \"err\");\\n' +\n'        if (type === \"ok\") DOM.statusEl.classList.add(\"ok\");\\n' +\n'        if (type === \"err\") DOM.statusEl.classList.add(\"err\");\\n' +\n'      },\\n' +\n'      prettyPrint: function(data) {\\n' +\n'        try {\\n' +\n'          if (typeof data === \"string\") {\\n' +\n'            var trimmed = data.trim();\\n' +\n'            if ((trimmed.charAt(0) === \"{\" && trimmed.charAt(trimmed.length-1) === \"}\") ||\\n' +\n'                (trimmed.charAt(0) === \"[\" && trimmed.charAt(trimmed.length-1) === \"]\")) {\\n' +\n'              return JSON.stringify(JSON.parse(trimmed), null, 2);\\n' +\n'            }\\n' +\n'            return data;\\n' +\n'          }\\n' +\n'          return JSON.stringify(data, null, 2);\\n' +\n'        } catch (e) {\\n' +\n'          return String(data);\\n' +\n'        }\\n' +\n'      },\\n' +\n'      isValidPhoneNumber: function(phone) {\\n' +\n'        var phoneRegex = /^[\\\\+]?[\\\\d\\\\s\\\\-\\\\(\\\\)]{10,}$/;\\n' +\n'        return phoneRegex.test(phone);\\n' +\n'      },\\n' +\n'      formatFileSize: function(bytes) {\\n' +\n'        if (bytes === 0) return \"0 Bytes\";\\n' +\n'        var k = 1024;\\n' +\n'        var sizes = [\"Bytes\", \"KB\", \"MB\", \"GB\"];\\n' +\n'        var i = Math.floor(Math.log(bytes) / Math.log(k));\\n' +\n'        return Math.round(bytes / Math.pow(k, i) * 100) / 100 + \" \" + sizes[i];\\n' +\n'      }\\n' +\n'    };\\n' +\n'\\n' +\n'    var Validator = {\\n' +\n'      validateTextFields: function() {\\n' +\n'        var data = {};\\n' +\n'        var errors = [];\\n' +\n'        for (var i = 0; i < CONFIG.REQUIRED_TEXT_FIELDS.length; i++) {\\n' +\n'          var field = CONFIG.REQUIRED_TEXT_FIELDS[i];\\n' +\n'          var element = document.getElementById(field.id);\\n' +\n'          var value = (element.value || \"\").trim();\\n' +\n'          if (!value) {\\n' +\n'            errors.push(field.label + \" is required\");\\n' +\n'            element.classList.add(\"error\");\\n' +\n'          } else {\\n' +\n'            element.classList.remove(\"error\");\\n' +\n'            data[field.id] = value;\\n' +\n'            if (field.id === \"mobileNumber\" && !Utils.isValidPhoneNumber(value)) {\\n' +\n'              errors.push(field.label + \" format is invalid\");\\n' +\n'              element.classList.add(\"error\");\\n' +\n'            }\\n' +\n'          }\\n' +\n'        }\\n' +\n'        if (errors.length > 0) throw new Error(errors.join(\"\\\\n\"));\\n' +\n'        return data;\\n' +\n'      },\\n' +\n'      validateFiles: function() {\\n' +\n'        var files = {};\\n' +\n'        var errors = [];\\n' +\n'        for (var i = 0; i < CONFIG.REQUIRED_FILE_FIELDS.length; i++) {\\n' +\n'          var field = CONFIG.REQUIRED_FILE_FIELDS[i];\\n' +\n'          var input = document.getElementById(field.id);\\n' +\n'          var file = (input.files && input.files[0]) ? input.files[0] : null;\\n' +\n'          if (!file) {\\n' +\n'            errors.push(field.label + \" image is required\");\\n' +\n'            input.classList.add(\"error\");\\n' +\n'          } else {\\n' +\n'            input.classList.remove(\"error\");\\n' +\n'            if (file.size > CONFIG.MAX_FILE_BYTES) {\\n' +\n'              errors.push(field.label + \" is too large (\" + Utils.formatFileSize(file.size) + \"). Max: 10 MB\");\\n' +\n'              input.classList.add(\"error\");\\n' +\n'            }\\n' +\n'            if (CONFIG.ACCEPTED_IMAGE_TYPES.indexOf(file.type) === -1) {\\n' +\n'              errors.push(field.label + \" must be an image (JPEG, PNG, WebP)\");\\n' +\n'              input.classList.add(\"error\");\\n' +\n'            } else {\\n' +\n'              files[field.id] = file;\\n' +\n'            }\\n' +\n'          }\\n' +\n'        }\\n' +\n'        if (errors.length > 0) throw new Error(errors.join(\"\\\\n\"));\\n' +\n'        return files;\\n' +\n'      }\\n' +\n'    };\\n' +\n'\\n' +\n'    var UI = {\\n' +\n'      renderPreview: function(filesMap) {\\n' +\n'        DOM.previewEl.innerHTML = \"\";\\n' +\n'        for (var fieldId in filesMap) {\\n' +\n'          if (!filesMap.hasOwnProperty(fieldId)) continue;\\n' +\n'          var file = filesMap[fieldId];\\n' +\n'          if (!file) continue;\\n' +\n'          var box = document.createElement(\"div\");\\n' +\n'          box.className = \"thumb\";\\n' +\n'          var title = document.createElement(\"div\");\\n' +\n'          title.style.cssText = \"font-size: .85rem; color: var(--muted); margin-bottom: .35rem;\";\\n' +\n'          var foundLabel = fieldId;\\n' +\n'          for (var j = 0; j < CONFIG.REQUIRED_FILE_FIELDS.length; j++) {\\n' +\n'            if (CONFIG.REQUIRED_FILE_FIELDS[j].id === fieldId) {\\n' +\n'              foundLabel = CONFIG.REQUIRED_FILE_FIELDS[j].label;\\n' +\n'              break;\\n' +\n'            }\\n' +\n'          }\\n' +\n'          title.textContent = foundLabel;\\n' +\n'          var sizeInfo = document.createElement(\"div\");\\n' +\n'          sizeInfo.style.cssText = \"font-size: .75rem; color: var(--muted); margin-bottom: .5rem;\";\\n' +\n'          sizeInfo.textContent = file.name + \" (\" + Utils.formatFileSize(file.size) + \")\";\\n' +\n'          var img = document.createElement(\"img\");\\n' +\n'          var url = URL.createObjectURL(file);\\n' +\n'          img.src = url;\\n' +\n'          img.onload = function() { URL.revokeObjectURL(url); };\\n' +\n'          box.appendChild(title);\\n' +\n'          box.appendChild(sizeInfo);\\n' +\n'          box.appendChild(img);\\n' +\n'          DOM.previewEl.appendChild(box);\\n' +\n'        }\\n' +\n'      },\\n' +\n'      clearPreview: function() {\\n' +\n'        DOM.previewEl.innerHTML = \"\";\\n' +\n'      },\\n' +\n'      updateResponse: function(content) {\\n' +\n'        DOM.respEl.textContent = content;\\n' +\n'      },\\n' +\n'      clearErrorHighlights: function() {\\n' +\n'        var inputs = DOM.form.querySelectorAll(\"input\");\\n' +\n'        for (var i = 0; i < inputs.length; i++) {\\n' +\n'          inputs[i].classList.remove(\"error\");\\n' +\n'        }\\n' +\n'      }\\n' +\n'    };\\n' +\n'\\n' +\n'    var Network = {\\n' +\n'      submitToWebhook: async function(formData) {\\n' +\n'        var response = await fetch(CONFIG.WEBHOOK_URL, { method: \"POST\", body: formData });\\n' +\n'        var contentType = response.headers.get(\"content-type\") || \"\";\\n' +\n'        var payload;\\n' +\n'        if (contentType.indexOf(\"application/json\") > -1) {\\n' +\n'          payload = await response.json();\\n' +\n'        } else {\\n' +\n'          payload = await response.text();\\n' +\n'        }\\n' +\n'        return { ok: response.ok, status: response.status, statusText: response.statusText, payload: payload };\\n' +\n'      }\\n' +\n'    };\\n' +\n'\\n' +\n'    var FormHandler = {\\n' +\n'      buildFormData: function(textData, files) {\\n' +\n'        var formData = new FormData();\\n' +\n'        for (var key in textData) {\\n' +\n'          if (textData.hasOwnProperty(key)) formData.append(key, textData[key]);\\n' +\n'        }\\n' +\n'        for (var key in files) {\\n' +\n'          if (files.hasOwnProperty(key)) {\\n' +\n'            var file = files[key];\\n' +\n'            formData.append(key, file, file.name);\\n' +\n'          }\\n' +\n'        }\\n' +\n'        formData.append(\"source\", \"Danfoss ALADIN Web UI\");\\n' +\n'        formData.append(\"timestamp\", new Date().toISOString());\\n' +\n'        formData.append(\"submittedAt\", new Date().toLocaleString(\"en-IN\", { timeZone: \"Asia/Kolkata\" }));\\n' +\n'        return formData;\\n' +\n'      },\\n' +\n'      handleSubmit: async function(event) {\\n' +\n'        event.preventDefault();\\n' +\n'        UI.updateResponse(\"Processing submission...\");\\n' +\n'        UI.clearErrorHighlights();\\n' +\n'        try {\\n' +\n'          Utils.setStatus(\"Validating form data...\");\\n' +\n'          var textData = Validator.validateTextFields();\\n' +\n'          var files = Validator.validateFiles();\\n' +\n'          Utils.setStatus(\"Preparing data for submission...\");\\n' +\n'          var formData = FormHandler.buildFormData(textData, files);\\n' +\n'          UI.renderPreview(files);\\n' +\n'          DOM.submitBtn.disabled = true;\\n' +\n'          Utils.setStatus(\"Submitting to n8n webhook...\");\\n' +\n'          var result = await Network.submitToWebhook(formData);\\n' +\n'          if (result.ok) {\\n' +\n'            Utils.setStatus(\"✓ Submission successful (HTTP \" + result.status + \")\", \"ok\");\\n' +\n'            UI.updateResponse(Utils.prettyPrint(result.payload));\\n' +\n'          } else {\\n' +\n'            Utils.setStatus(\"✗ Submission failed (HTTP \" + result.status + \": \" + result.statusText + \")\", \"err\");\\n' +\n'            UI.updateResponse(Utils.prettyPrint(result.payload));\\n' +\n'          }\\n' +\n'        } catch (error) {\\n' +\n'          Utils.setStatus(\"✗ \" + (error.message || \"Submission failed\"), \"err\");\\n' +\n'          UI.updateResponse(error.stack || error.message || String(error));\\n' +\n'          console.error(\"Form submission error:\", error);\\n' +\n'        } finally {\\n' +\n'          DOM.submitBtn.disabled = false;\\n' +\n'        }\\n' +\n'      },\\n' +\n'      handleReset: function() {\\n' +\n'        DOM.form.reset();\\n' +\n'        UI.clearPreview();\\n' +\n'        UI.clearErrorHighlights();\\n' +\n'        Utils.setStatus(\"\");\\n' +\n'        UI.updateResponse(\"Awaiting submission…\");\\n' +\n'      }\\n' +\n'    };\\n' +\n'\\n' +\n'    function init() {\\n' +\n'      DOM.form.addEventListener(\"submit\", FormHandler.handleSubmit);\\n' +\n'      DOM.resetBtn.addEventListener(\"click\", FormHandler.handleReset);\\n' +\n'      var inputs = DOM.form.querySelectorAll(\"input\");\\n' +\n'      for (var i = 0; i < inputs.length; i++) {\\n' +\n'        inputs[i].addEventListener(\"input\", function() { this.classList.remove(\"error\"); });\\n' +\n'      }\\n' +\n'      for (var i = 0; i < CONFIG.REQUIRED_FILE_FIELDS.length; i++) {\\n' +\n'        var field = CONFIG.REQUIRED_FILE_FIELDS[i];\\n' +\n'        var input = document.getElementById(field.id);\\n' +\n'        input.addEventListener(\"change\", function() {\\n' +\n'          var files = {};\\n' +\n'          for (var j = 0; j < CONFIG.REQUIRED_FILE_FIELDS.length; j++) {\\n' +\n'            var f = CONFIG.REQUIRED_FILE_FIELDS[j];\\n' +\n'            var inp = document.getElementById(f.id);\\n' +\n'            if (inp.files && inp.files[0]) files[f.id] = inp.files[0];\\n' +\n'          }\\n' +\n'          if (Object.keys(files).length > 0) UI.renderPreview(files);\\n' +\n'        });\\n' +\n'      }\\n' +\n'      console.log(\"Danfoss ALADIN form initialized successfully\");\\n' +\n'    }\\n' +\n'    init();\\n' +\n'  </' + 'script>\\n' +\n'</body>\\n' +\n'</html>';\n\nvar html = htmlPart1;\n\nreturn [\n  {\n    json: {},\n    binary: {\n      data: {\n        data: Buffer.from(html).toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'aladin.html'\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        496
      ],
      "id": "43ead662-b4e9-4ff0-afe4-e1519a8c6043",
      "name": "Generate UI PG1"
    },
    {
      "parameters": {
        "path": "test_url",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        496
      ],
      "id": "9267b507-e54f-442f-977b-589d61231873",
      "name": "PG1 Webhook",
      "webhookId": "e2630fee-88fc-4240-905f-2f9e1fa2853b",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        240,
        496
      ],
      "id": "2ba73a57-b604-4e9b-9217-7fd35b4b80d4",
      "name": "Respond to PG1 UI"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test_submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        720
      ],
      "id": "7de0137b-1345-40ea-b04d-606821b94a15",
      "name": "PG2 Webhook",
      "webhookId": "e6b1becb-4697-4698-b8d4-bacd4c03a04d"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node: Motor Configuration Selector\n// This node receives motor data and returns an HTML page with the selector UI\n// Compatible with n8n vm2 environment (ES5 only)\n\n// Input: $json should contain the motor data response\n// Output: Returns HTML page as binary for immediate display\n\nvar motorDataJson = JSON.stringify($json);\n\nvar htmlContent = '<!DOCTYPE html>' +\n'<html lang=\"en\">' +\n'<head>' +\n'  <meta charset=\"UTF-8\">' +\n'  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">' +\n'  <title>Motor Configuration Selector - Danfoss ALADIN</title>' +\n'  <style>' +\n'    * {' +\n'      margin: 0;' +\n'      padding: 0;' +\n'      box-sizing: border-box;' +\n'    }' +\n'    body {' +\n'      font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, sans-serif;' +\n'      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);' +\n'      min-height: 100vh;' +\n'      padding: 20px;' +\n'      display: flex;' +\n'      justify-content: center;' +\n'      align-items: center;' +\n'    }' +\n'    .container {' +\n'      background: white;' +\n'      border-radius: 12px;' +\n'      box-shadow: 0 20px 60px rgba(0,0,0,0.3);' +\n'      padding: 30px;' +\n'      max-width: 1200px;' +\n'      width: 100%;' +\n'    }' +\n'    .header {' +\n'      text-align: center;' +\n'      margin-bottom: 30px;' +\n'      padding-bottom: 20px;' +\n'      border-bottom: 2px solid #e5e7eb;' +\n'    }' +\n'    .header h1 {' +\n'      color: #1f2937;' +\n'      font-size: 28px;' +\n'      margin-bottom: 8px;' +\n'    }' +\n'    .header .subtitle {' +\n'      color: #6b7280;' +\n'      font-size: 14px;' +\n'    }' +\n'    .model-info {' +\n'      background: #f3f4f6;' +\n'      padding: 15px;' +\n'      border-radius: 8px;' +\n'      margin-bottom: 25px;' +\n'      text-align: center;' +\n'    }' +\n'    .model-info strong {' +\n'      color: #374151;' +\n'      font-size: 18px;' +\n'    }' +\n'    .section-title {' +\n'      font-size: 18px;' +\n'      font-weight: 600;' +\n'      color: #1f2937;' +\n'      margin-bottom: 15px;' +\n'      padding-bottom: 10px;' +\n'      border-bottom: 2px solid #e5e7eb;' +\n'    }' +\n'    .ratings-table-wrapper {' +\n'      overflow-x: auto;' +\n'      margin-bottom: 30px;' +\n'    }' +\n'    table {' +\n'      width: 100%;' +\n'      border-collapse: collapse;' +\n'      background: white;' +\n'    }' +\n'    th {' +\n'      background: #667eea;' +\n'      color: white;' +\n'      padding: 12px;' +\n'      text-align: left;' +\n'      font-weight: 600;' +\n'      font-size: 13px;' +\n'      white-space: nowrap;' +\n'    }' +\n'    td {' +\n'      padding: 12px;' +\n'      border-bottom: 1px solid #e5e7eb;' +\n'      font-size: 14px;' +\n'      color: #374151;' +\n'    }' +\n'    tr:hover {' +\n'      background: #f9fafb;' +\n'    }' +\n'    tr.selected {' +\n'      background: #dbeafe !important;' +\n'    }' +\n'    input[type=\"radio\"] {' +\n'      cursor: pointer;' +\n'      width: 18px;' +\n'      height: 18px;' +\n'    }' +\n'    .config-form {' +\n'      display: none;' +\n'      background: #f9fafb;' +\n'      padding: 25px;' +\n'      border-radius: 8px;' +\n'      margin-bottom: 25px;' +\n'    }' +\n'    .config-form.active {' +\n'      display: block;' +\n'    }' +\n'    .form-grid {' +\n'      display: grid;' +\n'      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));' +\n'      gap: 20px;' +\n'      margin-bottom: 20px;' +\n'    }' +\n'    .form-group {' +\n'      display: flex;' +\n'      flex-direction: column;' +\n'    }' +\n'    label {' +\n'      font-weight: 600;' +\n'      color: #374151;' +\n'      margin-bottom: 6px;' +\n'      font-size: 14px;' +\n'    }' +\n'    select, input[type=\"number\"] {' +\n'      padding: 10px;' +\n'      border: 1px solid #d1d5db;' +\n'      border-radius: 6px;' +\n'      font-size: 14px;' +\n'      color: #1f2937;' +\n'      background: white;' +\n'    }' +\n'    select:focus, input[type=\"number\"]:focus {' +\n'      outline: none;' +\n'      border-color: #667eea;' +\n'      box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);' +\n'    }' +\n'    .json-output {' +\n'      background: #1f2937;' +\n'      color: #10b981;' +\n'      padding: 15px;' +\n'      border-radius: 6px;' +\n'      font-family: \"Courier New\", monospace;' +\n'      font-size: 12px;' +\n'      max-height: 300px;' +\n'      overflow-y: auto;' +\n'      white-space: pre-wrap;' +\n'      word-break: break-all;' +\n'      margin-bottom: 20px;' +\n'    }' +\n'    .button-group {' +\n'      display: flex;' +\n'      gap: 15px;' +\n'      justify-content: center;' +\n'    }' +\n'    button {' +\n'      padding: 12px 30px;' +\n'      border: none;' +\n'      border-radius: 6px;' +\n'      font-size: 16px;' +\n'      font-weight: 600;' +\n'      cursor: pointer;' +\n'      transition: all 0.3s ease;' +\n'    }' +\n'    .btn-primary {' +\n'      background: #667eea;' +\n'      color: white;' +\n'    }' +\n'    .btn-primary:hover {' +\n'      background: #5568d3;' +\n'      transform: translateY(-2px);' +\n'      box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);' +\n'    }' +\n'    .btn-primary:disabled {' +\n'      background: #9ca3af;' +\n'      cursor: not-allowed;' +\n'      transform: none;' +\n'    }' +\n'    .btn-secondary {' +\n'      background: #e5e7eb;' +\n'      color: #374151;' +\n'    }' +\n'    .btn-secondary:hover {' +\n'      background: #d1d5db;' +\n'    }' +\n'    .error-message {' +\n'      background: #fee2e2;' +\n'      color: #991b1b;' +\n'      padding: 12px;' +\n'      border-radius: 6px;' +\n'      margin-bottom: 20px;' +\n'      border-left: 4px solid #dc2626;' +\n'    }' +\n'    .success-message {' +\n'      background: #d1fae5;' +\n'      color: #065f46;' +\n'      padding: 12px;' +\n'      border-radius: 6px;' +\n'      margin-bottom: 20px;' +\n'      border-left: 4px solid #10b981;' +\n'    }' +\n'    .loading {' +\n'      text-align: center;' +\n'      padding: 40px;' +\n'      color: #6b7280;' +\n'    }' +\n'    @media (max-width: 768px) {' +\n'      .container {' +\n'        padding: 20px;' +\n'      }' +\n'      .form-grid {' +\n'        grid-template-columns: 1fr;' +\n'      }' +\n'      th, td {' +\n'        padding: 8px;' +\n'        font-size: 12px;' +\n'      }' +\n'    }' +\n'  </style>' +\n'</head>' +\n'<body>' +\n'  <div class=\"container\">' +\n'    <div class=\"header\">' +\n'      <h1>Motor Configuration Selector</h1>' +\n'      <div class=\"subtitle\">Select a motor rating and configure parameters</div>' +\n'    </div>' +\n'    <div id=\"appContainer\"></div>' +\n'  </div>' +\n'' +\n'  <script>' +\n'    (function() {' +\n'      var motorData = ' + motorDataJson + ';' +\n'      var parsedData = null;' +\n'      var selectedRating = null;' +\n'' +\n'      function parseMotorData(response) {' +\n'        try {' +\n'          if (!response || typeof response !== \"object\") {' +\n'            throw new Error(\"Invalid response format\");' +\n'          }' +\n'          var content = response.content || response;' +\n'          if (Array.isArray(response) && response.length > 0) {' +\n'            content = response[0].content;' +\n'          }' +\n'          if (!content || !content.parts || !Array.isArray(content.parts)) {' +\n'            throw new Error(\"Missing content.parts in response\");' +\n'          }' +\n'          var text = content.parts[0].text;' +\n'          if (!text) {' +\n'            throw new Error(\"No text found in content.parts[0]\");' +\n'          }' +\n'          var jsonMatch = text.match(/```json\\\\s*([\\\\s\\\\S]*?)```/);' +\n'          if (!jsonMatch) {' +\n'            jsonMatch = text.match(/```\\\\s*([\\\\s\\\\S]*?)```/);' +\n'          }' +\n'          if (!jsonMatch) {' +\n'            throw new Error(\"No JSON code block found in response\");' +\n'          }' +\n'          var jsonStr = jsonMatch[1].trim();' +\n'          var data = JSON.parse(jsonStr);' +\n'          if (!data.model_number || !Array.isArray(data.ratings)) {' +\n'            throw new Error(\"Invalid motor data structure\");' +\n'          }' +\n'          return data;' +\n'        } catch (e) {' +\n'          throw new Error(\"Failed to parse motor data: \" + e.message);' +\n'        }' +\n'      }' +\n'' +\n'      function renderError(message) {' +\n'        document.getElementById(\"appContainer\").innerHTML = ' +\n'          \"<div class=\\\\\"error-message\\\\\">\" + message + \"</div>\";' +\n'      }' +\n'' +\n'      function renderTable() {' +\n'        var headers = [\"Select\"];' +\n'        if (parsedData.ratings.length > 0) {' +\n'          for (var key in parsedData.ratings[0]) {' +\n'            if (parsedData.ratings[0].hasOwnProperty(key)) {' +\n'              headers.push(key);' +\n'            }' +\n'          }' +\n'        }' +\n'' +\n'        var tableHtml = \"<div class=\\\\\"model-info\\\\\"><strong>Motor Model: \" + parsedData.model_number + \"</strong></div>\";' +\n'        tableHtml += \"<h2 class=\\\\\"section-title\\\\\">Available Ratings</h2>\";' +\n'        tableHtml += \"<div class=\\\\\"ratings-table-wrapper\\\\\">\";' +\n'        tableHtml += \"<table><thead><tr>\";' +\n'' +\n'        for (var i = 0; i < headers.length; i++) {' +\n'          tableHtml += \"<th>\" + headers[i] + \"</th>\";' +\n'        }' +\n'        tableHtml += \"</tr></thead><tbody>\";' +\n'' +\n'        for (var j = 0; j < parsedData.ratings.length; j++) {' +\n'          var rating = parsedData.ratings[j];' +\n'          tableHtml += \"<tr id=\\\\\"row-\" + j + \"\\\\\">\";' +\n'          tableHtml += \"<td><input type=\\\\\"radio\\\\\" name=\\\\\"rating\\\\\" value=\\\\\"\" + j + \"\\\\\"></td>\";' +\n'          for (var key in rating) {' +\n'            if (rating.hasOwnProperty(key)) {' +\n'              tableHtml += \"<td>\" + rating[key] + \"</td>\";' +\n'            }' +\n'          }' +\n'          tableHtml += \"</tr>\";' +\n'        }' +\n'' +\n'        tableHtml += \"</tbody></table></div>\";' +\n'        tableHtml += renderConfigForm();' +\n'        tableHtml += \"<div id=\\\\\"messageContainer\\\\\"></div>\";' +\n'        tableHtml += \"<div id=\\\\\"jsonOutput\\\\\" class=\\\\\"json-output\\\\\" style=\\\\\"display:none;\\\\\"></div>\";' +\n'        tableHtml += \"<div class=\\\\\"button-group\\\\\">\";' +\n'        tableHtml += \"<button id=\\\\\"submitBtn\\\\\" class=\\\\\"btn-primary\\\\\" disabled>Submit Configuration</button>\";' +\n'        tableHtml += \"<button id=\\\\\"resetBtn\\\\\" class=\\\\\"btn-secondary\\\\\">Reset</button>\";' +\n'        tableHtml += \"</div>\";' +\n'' +\n'        document.getElementById(\"appContainer\").innerHTML = tableHtml;' +\n'        attachEventListeners();' +\n'      }' +\n'' +\n'      function renderConfigForm() {' +\n'        var html = \"<div id=\\\\\"configForm\\\\\" class=\\\\\"config-form\\\\\">\";' +\n'        html += \"<h2 class=\\\\\"section-title\\\\\">Configuration Parameters</h2>\";' +\n'        html += \"<div class=\\\\\"form-grid\\\\\">\";' +\n'' +\n'        html += \"<div class=\\\\\"form-group\\\\\">\";' +\n'        html += \"<label for=\\\\\"controlMode\\\\\">Control Mode:</label>\";' +\n'        html += \"<select id=\\\\\"controlMode\\\\\" required>\";' +\n'        html += \"<option value=\\\\\"0\\\\\">0 - Speed Control</option>\";' +\n'        html += \"<option value=\\\\\"3\\\\\">3 - Torque Control</option>\";' +\n'        html += \"</select></div>\";' +\n'' +\n'        html += \"<div class=\\\\\"form-group\\\\\">\";' +\n'        html += \"<label for=\\\\\"motorControlPrinciple\\\\\">Motor Control Principle:</label>\";' +\n'        html += \"<select id=\\\\\"motorControlPrinciple\\\\\" required>\";' +\n'        html += \"<option value=\\\\\"0\\\\\">0 - U/f Control</option>\";' +\n'        html += \"<option value=\\\\\"1\\\\\">1 - VVC+ Control</option>\";' +\n'        html += \"</select></div>\";' +\n'' +\n'        html += \"<div class=\\\\\"form-group\\\\\">\";' +\n'        html += \"<label for=\\\\\"motorConstruction\\\\\">Motor Construction:</label>\";' +\n'        html += \"<select id=\\\\\"motorConstruction\\\\\" required>\";' +\n'        html += \"<option value=\\\\\"0\\\\\">0 - Async Motor</option>\";' +\n'        html += \"<option value=\\\\\"1\\\\\">1 - PM Motor, Surf Mount</option>\";' +\n'        html += \"<option value=\\\\\"2\\\\\">2 - PM Motor, Interior Mount</option>\";' +\n'        html += \"<option value=\\\\\"5\\\\\">5 - Sync Reluctance Motor</option>\";' +\n'        html += \"<option value=\\\\\"6\\\\\">6 - Async Motor (AEO)</option>\";' +\n'        html += \"</select></div>\";' +\n'' +\n'        html += \"<div class=\\\\\"form-group\\\\\">\";' +\n'        html += \"<label for=\\\\\"referenceSite\\\\\">Reference Site:</label>\";' +\n'        html += \"<select id=\\\\\"referenceSite\\\\\" required>\";' +\n'        html += \"<option value=\\\\\"1\\\\\">1 - Digital/Bus</option>\";' +\n'        html += \"<option value=\\\\\"2\\\\\">2 - Analog Input 53</option>\";' +\n'        html += \"</select></div>\";' +\n'' +\n'        html += \"<div class=\\\\\"form-group\\\\\">\";' +\n'        html += \"<label for=\\\\\"currentLimit\\\\\">Current Limit (A):</label>\";' +\n'        html += \"<input type=\\\\\"number\\\\\" id=\\\\\"currentLimit\\\\\" step=\\\\\"0.1\\\\\" required></div>\";' +\n'' +\n'        html += \"<div class=\\\\\"form-group\\\\\">\";' +\n'        html += \"<label for=\\\\\"torqueLimit\\\\\">Torque Limit (%):</label>\";' +\n'        html += \"<input type=\\\\\"number\\\\\" id=\\\\\"torqueLimit\\\\\" value=\\\\\"100\\\\\" min=\\\\\"0\\\\\" max=\\\\\"200\\\\\" step=\\\\\"0.1\\\\\" required></div>\";' +\n'' +\n'        html += \"</div></div>\";' +\n'        return html;' +\n'      }' +\n'' +\n'      function attachEventListeners() {' +\n'        var radios = document.getElementsByName(\"rating\");' +\n'        for (var i = 0; i < radios.length; i++) {' +\n'          radios[i].addEventListener(\"change\", handleRatingSelection);' +\n'        }' +\n'' +\n'        var configInputs = document.querySelectorAll(\"#configForm select, #configForm input\");' +\n'        for (var j = 0; j < configInputs.length; j++) {' +\n'          configInputs[j].addEventListener(\"change\", updateJsonOutput);' +\n'          configInputs[j].addEventListener(\"input\", updateJsonOutput);' +\n'        }' +\n'' +\n'        document.getElementById(\"submitBtn\").addEventListener(\"click\", handleSubmit);' +\n'        document.getElementById(\"resetBtn\").addEventListener(\"click\", handleReset);' +\n'      }' +\n'' +\n'      function handleRatingSelection(event) {' +\n'        var selectedIndex = parseInt(event.target.value);' +\n'        selectedRating = parsedData.ratings[selectedIndex];' +\n'' +\n'        var rows = document.querySelectorAll(\"tbody tr\");' +\n'        for (var i = 0; i < rows.length; i++) {' +\n'          rows[i].classList.remove(\"selected\");' +\n'        }' +\n'        document.getElementById(\"row-\" + selectedIndex).classList.add(\"selected\");' +\n'' +\n'        var configForm = document.getElementById(\"configForm\");' +\n'        configForm.classList.add(\"active\");' +\n'' +\n'        var currentValue = selectedRating.Current || selectedRating.current;' +\n'        if (currentValue) {' +\n'          document.getElementById(\"currentLimit\").value = currentValue;' +\n'        }' +\n'' +\n'        updateJsonOutput();' +\n'      }' +\n'' +\n'      function updateJsonOutput() {' +\n'        if (!selectedRating) return;' +\n'' +\n'        var config = {' +\n'          model_number: parsedData.model_number,' +\n'          selected_rating: selectedRating,' +\n'          configuration: {' +\n'            control_mode: parseInt(document.getElementById(\"controlMode\").value),' +\n'            motor_control_principle: parseInt(document.getElementById(\"motorControlPrinciple\").value),' +\n'            motor_construction: parseInt(document.getElementById(\"motorConstruction\").value),' +\n'            reference_site: parseInt(document.getElementById(\"referenceSite\").value),' +\n'            current_limit: parseFloat(document.getElementById(\"currentLimit\").value) || 0,' +\n'            torque_limit: parseFloat(document.getElementById(\"torqueLimit\").value) || 100' +\n'          },' +\n'          timestamp: new Date().toISOString()' +\n'        };' +\n'' +\n'        var jsonOutput = document.getElementById(\"jsonOutput\");' +\n'        jsonOutput.textContent = JSON.stringify(config, null, 2);' +\n'        jsonOutput.style.display = \"block\";' +\n'' +\n'        var isValid = config.configuration.current_limit > 0;' +\n'        document.getElementById(\"submitBtn\").disabled = !isValid;' +\n'      }' +\n'' +\n'      function handleSubmit() {' +\n'        var config = JSON.parse(document.getElementById(\"jsonOutput\").textContent);' +\n'        var messageContainer = document.getElementById(\"messageContainer\");' +\n'        ' +\n'        try {' +\n'          var textarea = document.createElement(\"textarea\");' +\n'          textarea.value = JSON.stringify(config, null, 2);' +\n'          document.body.appendChild(textarea);' +\n'          textarea.select();' +\n'          document.execCommand(\"copy\");' +\n'          document.body.removeChild(textarea);' +\n'          messageContainer.innerHTML = \"<div class=\\\\\"success-message\\\\\"><strong>Configuration submitted successfully!</strong><br>The configuration has been copied to your clipboard.<br>You can paste it anywhere you need.</div>\";' +\n'        } catch (e) {' +\n'          messageContainer.innerHTML = \"<div class=\\\\\"success-message\\\\\"><strong>Configuration ready!</strong><br>Please copy the JSON configuration shown above.</div>\";' +\n'        }' +\n'        ' +\n'        console.log(\"Motor Configuration:\", config);' +\n'        document.getElementById(\"submitBtn\").disabled = true;' +\n'      }' +\n'' +\n'      function handleReset() {' +\n'        selectedRating = null;' +\n'        renderTable();' +\n'      }' +\n'' +\n'      try {' +\n'        parsedData = parseMotorData(motorData);' +\n'        renderTable();' +\n'      } catch (e) {' +\n'        renderError(\"Error: \" + e.message);' +\n'      }' +\n'    })();' +\n'  </script>' +\n'</body>' +\n'</html>';\n\n// Convert HTML string to Buffer for n8n binary format\nvar buffer = Buffer.from(htmlContent, 'utf-8');\n\nreturn [\n  {\n    json: {\n      status: 'success',\n      message: 'Motor configuration page generated'\n    },\n    binary: {\n      data: {\n        data: buffer.toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'motor-config-selector.html'\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        720
      ],
      "id": "b69d18a5-2524-4f13-8dd8-ec89afd88487",
      "name": "Generate UI PG2"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        384,
        720
      ],
      "id": "2dce6b43-df53-4cd2-84b9-7184efa7a062",
      "name": "Respond to PG2 UI"
    }
  ],
  "pinData": {},
  "connections": {
    "Analyze Motor Nameplate": {
      "main": [
        [
          {
            "node": "Generate UI PG2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UI PG1": {
      "main": [
        [
          {
            "node": "Respond to PG1 UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG1 Webhook": {
      "main": [
        [
          {
            "node": "Generate UI PG1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG2 Webhook": {
      "main": [
        [
          {
            "node": "Analyze Motor Nameplate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate UI PG2": {
      "main": [
        [
          {
            "node": "Respond to PG2 UI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5fc7b737-8eb3-44ae-adf4-dbe6a4eb3a4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b78b247e3a024204946673f21d19d5a8878da2368dfcfa815213e4022545ca98"
  },
  "id": "6KOW92lz5y4OW3kR",
  "tags": []
}